#add {
    position: absolute;

    width: 100%;
    height: 100%;
    
    background-color: rgba(110, 49, 110, 0.459);

    transition-property: all;
    transition: .5s;

    opacity: 0%;
}



.list {
    width: 100%;
    height: 83%;

    background-color: rgba(70, 65, 77, 0.541);

    display: inline-block;

    overflow-y: auto;
    
}


.list div{
    width: 40%;
    height: 20%;

    float: left;

    margin: 5%;
    background-color: transparent;

    border-radius: 30%;
}

.list div:hover {
    opacity: 40%;
}

#addImg0 {
    background: url(../imgAdd/7.jpg);
}

#addImg1 {
    background: url(../imgAdd/1.jpg);
}

#addImg2 {
    background: url(../imgAdd/2.jpg);
}

#addImg3 {
    background: url(../imgAdd/3.jpeg);
}

#addImg4 {
    background: url(../imgAdd/4.jpg);
}

#addImg5 {
    background: url(../imgAdd/5.jpg);
}

#addImg6 {
    background: url(../imgAdd/6.jpg);
}

.price {
    
    position: relative;
    top: 100%;
    left: 35%;

    font-size: 3vh;
    font-family: monospace;
    color: aliceblue;
    
    margin-bottom: 10px; 

    background-color: transparent;
    
}

.price:hover {
    color: rgba(240, 248, 255, 0.295);
}