#tarifs {
    position: absolute;

    width: 100%;
    height: 100%;
    
    background-color: rgb(229, 207, 165);

    transition-property: all;
    transition: .4s;

    opacity: 0%;
    
}

#tarifs list {
    width: 100%;
    height: 100%;

    display: inline-block;

    overflow-y: scroll;
}

.tarif {
    margin-top: 30%;

    width: 100%;
    height: 30%;

    
}

.tarif:first-of-type {
    margin-top: 3%;
}

.tarif img {
    
    min-width: 100%;
    min-height: 100%;

    max-height: 120%;
    max-width: 120%;
}

.info {
    position: relative;
    background-color: rgba(77, 77, 77, 0.288);

    top:-2%;
    

    width: 100%;
    height: 12%;


    color: black;
    font-size: 3vh;

    font-family: monospace;

    text-align: center;
}

.info a {
    font-size: 2vh;
}



.moreInfo {
    margin-top: 30%;

    width: 100%;
    height: 30%;

    background-color: transparent;
    
    text-align: center;
    font-size: 4vh;
    font-family: 'Courier New', Courier, monospace;
}

.moreInfo a {
    font-size: 2vh;
}