.container {
    max-width: 700px;
    margin: 0 auto;
  }

  .itc-slider__items {
    counter-reset: slide;
  }

  .itc-slider__item {
    flex: 0 0 100%;
    max-width: 100%;
    counter-increment: slide;
    height: 250px;
    position: relative;
  }



  .itc-slider__item:nth-child(1) {
    background-color: #f44336;
  }

  .itc-slider__item:nth-child(2) {
    background-color: #9c27b0;
  }

  .itc-slider__item:nth-child(3) {
    background-color: #3f51b5;
  }

  .itc-slider__item:nth-child(4) {
    background-color: #03a9f4;
  }

  .itc-slider__item:nth-child(5) {
    background-color: #4caf50;
  }